<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myvoga.banwirepay">

    <application
        android:allowBackup="true"
        android:icon="@drawable/banwirelogo200"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.myvoga.banwirepay.activities.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.myvoga.banwirepay.activities.LoginActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.myvoga.banwirepay.activities.ForgetPassActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.myvoga.banwirepay.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.myvoga.banwirepay.activities.HelpSupportActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="portrait"/>
        <activity android:name="com.myvoga.banwirepay.activities.Legal"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>